body, html
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: arial;
    background-color: #6d659e;
}

.header {
    background-color: #171738;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.navbar {
    background-color: #2E1760;
  }

.navbar_2 {
    background-color: #403877
  }

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.navbar a:hover {
    background-color: #1d0f3b;
    color: black;
  }
  
.navbar_ li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #2E1760;
}

.navbar_ li a {
    transition: all 0.3s ease 0s;
}

.container-fluid {
    background-color: #171738;
}

.container-fluid_1 {
    background-color: #171738;
}

.btn {
    border: none;
    border-radius: 50;

    background-color: #2E1760
}

.dropdown-menu {
    background-color: #2E1760;
}

.dropdown-item a:hover {
    background-color: #291753
}